<footer>
    <div class="content">
        <div class="footer__fline">
            <div class="footer__column">
                <div class="logo"></div>
                <div class="description"></div>
                <div class="social"></div>
            </div>
            <div class="footer__column"></div>
            <div class="footer__column"></div>
        </div>
        <div class="footer__sline">
            <div class="item__copy"></div>
            <div class="item__politic"></div>
        </div>
    </div>
</footer>