<header>
    <div class="header__wrap fixed__header">

        <div class="header__fline">
            <div class="content">
                <div class="lang__dd">
                    ru
                </div>
                <div class="section_right">
                    
                    <div class="header__slogan">
                        Здоровое общество – наше будущее!
                    </div>
                    <div class="header__mail_bloc">
                        <i class="ico mail"></i>
                        <a href="mailto:fond@vyshniy.ru" class="header__mail">fond@vyshniy.ru</a>
                    </div>
                    <div class="header__tel_bloc">
                        <i class="ico tel"></i>
                        <a href="tel:+7 (999) 220-22-00" class="header__phone">+7 (999) 220-22-00</a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="header__sline">
            <div class="content">
                <a href="#" class="logo"><img src="./img/logo.png" alt="logo" srcset=""></a>
                <nav class="menu hor">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Space Bears</a></li>
                        <li><a href="#">Mars Cars</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
                <button class="button">
                    Как помочь?
                </button>
            </div>
        </div>
    </div>
    <div class="header__thline">
        <div class="first__slider">
            <div class="first__slider__item">

                <img src="./img/firstslider.png" alt="">
                <div class="first__slider_item_text item1">
                    <div class="content">
                        <!-- <h1> если текст ниже будет заголовком страницы заменить div на h1-->
                        <div class="first__slider_text_title">
                            Воодушевляем людей на хорошие дела
                        </div>
                        <!-- </h1> -->
                        <div class="first__slider_text_description">
                            Благотворительный фонд «Вышний» работает для того,
                            чтобы сделать жизнь людей комфортной, приятной и безопасной.
                        </div>
                        <button class="button outline">
                            как помочь?
                            <i class="ico arrow"></i>
                        </button>
                        <button class="button">
                            Перейти
                            <i class="ico arrow"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="first__slider__item">
                <img src="./img/firstslider.png" alt="">
                <div class="first__slider_item_text item2">
                    <div class="content">
                        <!-- <h1> если текст ниже будет заголовком страницы заменить div на h1-->
                        <div class="first__slider_text_title">
                            Воодушевляем людей на хорошие дела
                        </div>
                        <!-- </h1> -->
                        <div class="first__slider_text_description">
                            Благотворительный фонд «Вышний» работает для того,
                            чтобы сделать жизнь людей комфортной, приятной и безопасной.
                        </div>
                        <button class="button outline">
                            как помочь?
                            <i class="ico arrow"></i>
                        </button>
                        <button class="button">
                            Перейти
                            <i class="ico arrow"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="first__slider__item">
                <img src="./img/firstslider.png" alt="">
                <div class="first__slider_item_text item3">
                    <div class="content">
                        <!-- <h1> если текст ниже будет заголовком страницы заменить div на h1-->
                        <div class="first__slider_text_title">
                            Воодушевляем людей на хорошие дела
                        </div>
                        <!-- </h1> -->
                        <div class="first__slider_text_description">
                            Благотворительный фонд «Вышний» работает для того,
                            чтобы сделать жизнь людей комфортной, приятной и безопасной.
                        </div>
                        <button class="button outline">
                            как помочь?
                            <i class="ico arrow"></i>
                        </button>
                        <button class="button">
                            Перейти
                            <i class="ico arrow"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="header__social">
            <a class="ico_named in" href="#inst">
                <svg class="ico in">
                    <use xlink:href="./img/sprite.svg#instagram"></use>
                </svg>
                <span class="text_for_ico">instagram</span>
            </a>
            <a href="#fb">
                <svg class="ico fb">
                    <use xlink:href="./img/sprite.svg#facebook"></use>
                </svg>
            </a>
            <a href="#tw">
                <svg class="ico tw">
                    <use xlink:href="./img/sprite.svg#twitter"></use>
                </svg>
            </a>
            <a href="#vk">
                <svg class="ico vk">
                    <use xlink:href="./img/sprite.svg#vk"></use>
                </svg>
            </a>
            <a href="#ok">
                <svg class="ico ok">
                    <use xlink:href="./img/sprite.svg#odnoklassniki"></use>
                </svg>
            </a>
        </div>
    </div>
</header>