<main class="main_on_header">
    <div class="content">
        <div class="main__section_take_part">
            <div class="section__title">ПРИНЯТЬ УЧАСТИЕ В ЖИЗНИ ФОНДА</div>
            <div class="section__description">Мы приглашаем всех принять участие в нашей работе и изменить жизнь людей
            </div>
            <div class="section__action">
                <div class="action__item">
                    <div class="action__item_title">Сделать пожертвование </div>
                    <div class="action__item_description">Поддержите программы </div>
                </div>
                <div class="action__item">
                    <div class="action__item_title">Стать волонтером </div>
                    <div class="action__item_description">Выберите проект по душе и помогите нуждающимся </div>
                </div>
                <div class="action__item">
                    <div class="action__item_title">Предложить проект </div>
                    <div class="action__item_description">Выберите проект по душе и помогите нуждающимся </div>
                </div>
                <div class="action__item">
                    <div class="action__item_title">Подписаться на новости </div>
                    <div class="action__item_description">Выберите проект по душе и помогите нуждающимсям</div>
                </div>
            </div>
        </div>
        <div class="main__section_programs">
            <div class="section__separator_block">
                <span class="separator_title">Программы</span>
                <i class="nonico separator_ico"></i>
            </div>
            <div class="section__text">
                <div class="section__title">Наши программы</div>
                <div class="second__slider">
                    <div class="second__slider__item active">Все</div>
                    <div class="second__slider__item">Популярные</div>
                    <div class="second__slider__item">Новые</div>
                    <div class="second__slider__item">Дети</div>
                </div>
            </div>
            <div class="section__action third__slider">
                <div class="third__slider__item">

                    <div class="action__x2_y2">
                        <div class="action__item item1">
                            <div class="action__item_content">

                                <div class="action__item_title">Программа волонтерского движения</div>
                                <div class="action__item_description">По своей сути рыбатекст является альтернативой
                                    традиционному lorem ipsum, который вызывает
                                    у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem
                                    ipsum,
                                    текст рыба
                                    на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый
                                    колорит
                                    советских времен.</div>

                                <button class="button transparent unhover">подробнее
                                    <i class="ico arr"></i>
                                </button>


                            </div>
                        </div>
                    </div>
                    <div class="action__x1_y1_2">
                        <div class="action__item small item2">
                            <div class="action__item_content">

                                <div class="action__item_title">Программа волонтерского движения</div>
                                <div class="action__item_description">По своей сути рыбатекст является альтернативой
                                    традиционному lorem ipsum, который вызывает
                                    у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem
                                    ipsum,
                                    текст рыба
                                    на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый
                                    колорит
                                    советских времен.</div>

                                <button class="button transparent unhover">подробнее
                                    <i class="ico arr"></i>
                                </button>


                            </div>
                        </div>
                        <div class="action__item small item3">
                            <div class="action__item_content">

                                <div class="action__item_title">Программа волонтерского движения</div>
                                <div class="action__item_description">По своей сути рыбатекст является альтернативой
                                    традиционному lorem ipsum, который вызывает
                                    у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem
                                    ipsum,
                                    текст рыба
                                    на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый
                                    колорит
                                    советских времен.</div>

                                <button class="button transparent unhover">подробнее
                                    <i class="ico arr"></i>
                                </button>


                            </div>
                        </div>
                    </div>
                    <div class="action__x1_y2">
                        <div class="action__item item4">
                            <div class="action__item_content">

                                <div class="action__item_title">Программа волонтерского движения</div>
                                <div class="action__item_description">По своей сути рыбатекст является альтернативой
                                    традиционному lorem ipsum, который вызывает
                                    у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem
                                    ipsum,
                                    текст рыба
                                    на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый
                                    колорит
                                    советских времен.</div>

                                <button class="button transparent unhover">подробнее
                                    <i class="ico arr"></i>
                                </button>


                            </div>
                        </div>
                    </div>
                    <div class="action__x1_y2">
                        <div class="action__item item5">
                            <div class="action__item_content">

                                <div class="action__item_title">Программа волонтерского движения</div>
                                <div class="action__item_description">По своей сути рыбатекст является альтернативой
                                    традиционному lorem ipsum, который вызывает
                                    у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem
                                    ipsum,
                                    текст рыба
                                    на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый
                                    колорит
                                    советских времен.</div>

                                <button class="button transparent unhover">подробнее
                                    <i class="ico arr"></i>
                                </button>


                            </div>
                        </div>
                    </div>
                    <div class="action__x2_y2">
                        <div class="action__item item6">
                            <div class="action__item_content">

                                <div class="action__item_title">Программа волонтерского движения</div>
                                <div class="action__item_description">По своей сути рыбатекст является альтернативой
                                    традиционному lorem ipsum, который вызывает
                                    у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem
                                    ipsum,
                                    текст рыба
                                    на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый
                                    колорит
                                    советских времен.</div>

                                <button class="button transparent unhover">подробнее
                                    <i class="ico arr"></i>
                                </button>


                            </div>
                        </div>
                    </div>
                    <div class="action__x1_y2">
                        <div class="action__item item7">
                            <div class="action__item_content">

                                <div class="action__item_title">Программа волонтерского движения</div>
                                <div class="action__item_description">По своей сути рыбатекст является альтернативой
                                    традиционному lorem ipsum, который вызывает
                                    у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem
                                    ipsum,
                                    текст рыба
                                    на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый
                                    колорит
                                    советских времен.</div>

                                <button class="button transparent unhover">подробнее
                                    <i class="ico arr"></i>
                                </button>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="button selcenter">
                Все программы
                <i class="ico arr"></i>
            </button>
        </div>
    </div>
    <div class="main__section_donate">
        <div class="content">
            <div class="section__separator_block">
                <div cspans="separator_title">Прием платежей </span>
                    <!-- <i class="nonico separator_ico">-</i -->
                </div>
                <div class="section__text">
                    <div class="section__title">Форма для приема платежей</div>
                    <div class="section__description">
                        По своей сути рыбатекст является альтернативой
                        традиционному lorem ipsum, который вызывает
                        у некторых людей недоумение при попытках
                        прочитать рыбу текст.
                    </div>
                </div>
                <div class="section__action">

                    <div class="action__item">
                        <!-- tabs nav -->
                    </div>
                </div>
            </div>
        </div>

        <div class="main__section_volunteer">
            <div class="content">
                <div class="section__separator_block">
                    <span class="separator_title">Волонтеры</span>
                    <i class="nonico separator_ico"></i>
                </div>
                <div class="section__title">Как стать волонтером</div>
                <div class="wrap_action">

                    <div class="section__text">
                        <div class="section__description">
                            Волонтерские проекты и программы
                        </div>
                        <div class="section__description_full">
                            <div class="fpart">
                                <span class="definition">Волонтеры</span> – это самореализация, возможность учиться
                                и развиваться, новый круг общения и порой даже новая профессия и карьера.
                            </div>
                            <div class="spart">
                                Вы водите машину? Знаете иностранные языки? Можете писать статьи? Фотографировать?
                                Рукодельничать?
                                Вы полны идей? Вы просто ответственный человек, имеющий желание помочь? Тогда вам
                                обязательно
                                понравятся наши волонтерские проекты! Следите за анонсами наших мероприятий и заполняйте
                                анкету!
                            </div>
                        </div>
                    </div>
                    <div class="section__action">

                        <div class="action__item forth__slider">
                            <div class="forth__slider_item">
                                <div class="action__item_img">
                                    <img src="https://via.placeholder.com/291x310" alt="">
                                    <i class="ico catch"></i>
                                </div>
                                <div class="action__item_title">Программа волонтерского движения</div>

                                <button class="button transparent unhover">подробнее
                                    <i class="ico arr"></i>
                                </button>
                            </div>

                            <div class="forth__slider_item">
                                <div class="action__item_img">
                                    <img src="https://via.placeholder.com/291x310" alt="">
                                    <i class="ico catch"></i>
                                </div>
                                <div class="action__item_title">Программа волонтерского движения</div>

                                <button class="button transparent unhover">подробнее
                                    <i class="ico arr"></i>
                                </button>
                            </div>
                            <div class="forth__slider_item">
                                <div class="action__item_img">
                                    <img src="https://via.placeholder.com/291x310" alt="">
                                    <i class="ico catch"></i>
                                </div>
                                <div class="action__item_title">Программа волонтерского движения</div>

                                <button class="button transparent unhover">подробнее
                                    <i class="ico arr"></i>
                                </button>
                            </div>
                            <div class="forth__slider_item">
                                <div class="action__item_img">
                                    <img src="https://via.placeholder.com/291x310" alt="">
                                    <i class="ico catch"></i>
                                </div>
                                <div class="action__item_title">Программа волонтерского движения</div>

                                <button class="button transparent unhover">подробнее
                                    <i class="ico arr"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main__section_donaters">
            <div class="content">

                <div class="section__separator_block">
                    <span class="separator_title">Партнеры</span>
                    <i class="nonico separator_ico"></i>
                </div>
                <div class="section__title">Наши партнеры</div>

                <div class="section__action">

                    <div class="action__item sixth__slider">
                        <div class="sixth__slider__item">
                            <img src="./img/donatlogo/p1.png" alt="" srcset="">
                        </div>
                        <div class="sixth__slider__item">
                            <img src="./img/donatlogo/p2.png" alt="" srcset="">
                        </div>
                        <div class="sixth__slider__item">
                            <img src="./img/donatlogo/p3.png" alt="" srcset="">
                        </div>
                        <div class="sixth__slider__item">
                            <img src="./img/donatlogo/p4.png" alt="" srcset="">
                        </div>
                        <div class="sixth__slider__item">
                            <img src="./img/donatlogo/p1.png" alt="" srcset="">
                        </div>
                        <div class="sixth__slider__item">
                            <img src="./img/donatlogo/p1.png" alt="" srcset="">
                        </div>
                        <div class="sixth__slider__item">
                            <img src="./img/donatlogo/p1.png" alt="" srcset="">
                        </div>
                        <div class="sixth__slider__item">
                            <img src="./img/donatlogo/p1.png" alt="" srcset="">
                        </div>

                    </div>
                    <div class="action__item seventh__slider">
                        <div class="seventh__slider__item">
                            <img src="./img/donatlogo/p1.png" alt="" srcset="">
                        </div>
                        <div class="seventh__slider__item">
                            <img src="./img/donatlogo/p1.png" alt="" srcset="">
                        </div>
                        <div class="seventh__slider__item">
                            <img src="./img/donatlogo/p1.png" alt="" srcset="">
                        </div>
                        <div class="seventh__slider__item">
                            <img src="./img/donatlogo/p1.png" alt="" srcset="">
                        </div>
                        <div class="seventh__slider__item">
                            <img src="./img/donatlogo/p1.png" alt="" srcset="">
                        </div>
                        <div class="seventh__slider__item">
                            <img src="./img/donatlogo/p1.png" alt="" srcset="">
                        </div>
                        <div class="seventh__slider__item">
                            <img src="./img/donatlogo/p1.png" alt="" srcset="">
                        </div>
                        <div class="seventh__slider__item">
                            <img src="./img/donatlogo/p1.png" alt="" srcset="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="main__section_subscription">
            <div class="content">
                <div class="section__separator_block">
                    <span class="separator_title">Присоединиться</span>
                    <i class="nonico separator_ico"></i>
                </div>
                <div class="section__title">Будь в курсе</div>

                <div class="section__action">
                    <div class="social__subscription">
                        <div class="social__subscription_action__title">
                            Подписаться
                        </div>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#" class="btnsocial fb">
                                        <svg class="ico fb">
                                            <use xlink:href="./img/sprite.svg#facebook"></use>
                                        </svg>
                                        <span class="text_for_ico">facebook</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btnsocial vk">
                                        <svg class="ico vk">
                                            <use xlink:href="./img/sprite.svg#vk"></use>
                                        </svg>
                                        <span class="text_for_ico">ВКонтакте</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btnsocial ok">
                                        <svg class="ico ok">
                                            <use xlink:href="./img/sprite.svg#odnoklassniki"></use>
                                        </svg>
                                        <span class="text_for_ico">Одноклассники</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btnsocial inst">
                                        <svg class="ico inst">
                                            <use xlink:href="./img/sprite.svg#instagram"></use>
                                        </svg>
                                        <span class="text_for_ico">Instagram</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btnsocial tw">
                                        <svg class="ico tw">
                                            <use xlink:href="./img/sprite.svg#twitter"></use>
                                        </svg>
                                        <span class="text_for_ico">Twitter</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="mail__subscription">
                        <div class="label__post">
                            <img src="./img/mail.png" alt="" srcset="">
                        </div>
                        <div class="subscription__title">
                            ПОЛУЧАТЬ НОВОСТИ ПО ПОЧТЕ
                        </div>
                        <div class="subscription__action">
                            <input type="text" placeholder="Как вас зовут?">
                            <input type="email" placeholder="E-mail?">
                            <button class="button">
                                Подписаться
                                <i class="ico arr"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main__section_docs">
            <div class="content">
                <div class="section__separator_block">
                    <span class="separator_title">Документы</span>
                    <i class="nonico separator_ico"></i>
                </div>
                <div class="section__text">
                    <div class="section__title">Документы фонда</div>
                    <div class="section__description_full">
                        <div class="section__description">
                            Уставные документы
                        </div>
                        Фонд «Вышний» образован 27 февраля 2002 года
                        и зарегистрирован в соответствии с законодательством РФ.
                    </div>
                </div>
                <div class="section__action">

                    <div class="eighth__slider">
                        <div class="eighth__slider__item">
                            <div class="item__img">
                                <img src="./img/docs/img1.png" alt="">
                            </div>
                            <div class="item__description">
                                Документ “Наименование документа”
                            </div>
                        </div>
                        <div class="eighth__slider__item">
                            <div class="item__img">
                                <img src="./img/docs/img1.png" alt="">
                            </div>
                            <div class="item__description">
                                Документ “Наименование документа”
                            </div>
                        </div>
                        <div class="eighth__slider__item">
                            <div class="item__img">
                                <img src="./img/docs/img1.png" alt="">
                            </div>
                            <div class="item__description">
                                Документ “Наименование документа”
                            </div>
                        </div>
                        <div class="eighth__slider__item">
                            <div class="item__img">
                                <img src="./img/docs/img1.png" alt="">
                            </div>
                            <div class="item__description">
                                Документ “Наименование документа”
                            </div>
                        </div>
                        <div class="eighth__slider__item">
                            <div class="item__img">
                                <img src="./img/docs/img1.png" alt="">
                            </div>
                            <div class="item__description">
                                Документ “Наименование документа”
                            </div>
                        </div>
                        <div class="eighth__slider__item">
                            <div class="item__img">
                                <img src="./img/docs/img1.png" alt="">
                            </div>
                            <div class="item__description">
                                Документ “Наименование документа”
                            </div>
                        </div>
                        <div class="eighth__slider__item">
                            <div class="item__img">
                                <img src="./img/docs/img1.png" alt="">
                            </div>
                            <div class="item__description">
                                Документ “Наименование документа”
                            </div>
                        </div>
                        <div class="eighth__slider__item">
                            <div class="item__img">
                                <img src="./img/docs/img1.png" alt="">
                            </div>
                            <div class="item__description">
                                Документ “Наименование документа”
                            </div>
                        </div>
                    </div>
                    <div class="section__count">
                        <div class="section__count_title">
                            Отчеты
                            <i class="ico doc"></i>
                        </div>
                        <nav>
                            <ul>
                                <li><a href="#">text</a></li>
                                <li><a href="#">text</a></li>
                                <li><a href="#">text</a></li>
                                <li><a href="#">text</a></li>
                                <li><a href="#">text</a></li>
                                <li><a href="#">text</a></li>
                                <li><a href="#">text</a></li>
                                <li><a href="#">text</a></li>
                                <li><a href="#">all</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>


</main>