@font-face {
    font-family: 'Montserrat';
    src: local('../fonts/Montserrat-Regular'), url('../fonts/Montserrat-regular.woff2') format('woff2'), url('../fonts/Montserrat-regular.woff') format('woff'), url('../fonts/Montserrat-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('../fonts/Montserrat-Italic'), url('../fonts/Montserrat-italic.woff2') format('woff2'), url('../fonts/Montserrat-italic.woff') format('woff'), url('../fonts/Montserrat-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: local('../fonts/Montserrat-Bold'), url('../fonts/Montserrat-bold.woff2') format('woff2'), url('../fonts/Montserrat-bold.woff') format('woff'), url('../fonts/Montserrat-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('../fonts/Montserrat-BoldItalic'), url('../fonts/Montserrat-bolditalic.woff2') format('woff2'), url('../fonts/Montserrat-bolditalic.woff') format('woff'), url('../fonts/Montserrat-bolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
