@font-face {
    font-family: 'Montserrat';
    src: local('../fonts/Montserrat-Regular'), url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('../fonts/Montserrat-Italic'), url('../fonts/Montserrat-Italic.woff2') format('woff2'), url('../fonts/Montserrat-Italic.woff') format('woff'), url('../fonts/Montserrat-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: local('../fonts/Montserrat-Bold'), url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('../fonts/Montserrat-BoldItalic'), url('../fonts/Montserrat-Bolditalic.woff2') format('woff2'), url('../fonts/Montserrat-Bolditalic.woff') format('woff'), url('../fonts/Montserrat-Bolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Georgia';
    src: local('../fonts/Georgia-Bold'), url('../fonts/Georgia-Bold.woff2') format('woff2'), url('../fonts/Georgia-Bold.woff') format('woff'), url('../fonts/Georgia-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}