@mixin fbtw-ac {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin fc {
	display: flex;
	justify-content: center;
}
.social__subscription,
.social__subscription nav ul,
.header__fline .content,
.header__sline .content,
.header__fline .section_right,
.main__section_take_part .section__action,
.header__sline nav ul {
	@include fbtw-ac;
}

header,
footer {
	min-height: 100px;
	width: 100%;
}
.content {
	max-width: 1170px;
	width: 100vw;
	padding: 0 15px;
	margin: 0 auto;
}
.first__slider_item_text .content {
	margin-left: -15px;
	margin: unset;
	padding: unset;
}

header {
	display: flex;
	flex-direction: column;
	max-height: 895px;
	height: 100%;
}
.header__fline {
	background-color: #f0f0f0;
	padding: 12px 0;
	flex: 0 0 auto;
}

.header__sline {
	background-color: #fff;
	flex: 0 0 auto;
	padding: 20px 0;
}
.header__thline {
	// max-height: 762px;
	flex: 1 1 auto;
}

.header__slogan {
	color: #008efc;
	// font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	font-style: italic;
}
.section_right {
	max-width: 820px;
	width: 100%;
}
.logo {
	// max-width: 249px;
	img {
		width: 249px;
	}
}
.header__sline nav {
	max-width: 600px;
	width: 100%;
}

.header__thline {
	.text_for_ico {
		display: inline-block;
		text-transform: uppercase;
		writing-mode: vertical-rl;
		text-orientation: mixed;
		color: #fff;
	}
	position: relative;
	.slick-arrow,
	.slick-dots,
	.first__slider_item_text {
		position: absolute;
		z-index: 2;
	}
	.slick-arrow {
		bottom: 262px;
	}
	.slick-dots {
		display: flex;
		position: absolute;
		top: 80px;
	}
	.slick-dots,
	.slick-arrow {
		right: 19.3%;
	}
}

.header__social {
	position: absolute;
	top: 240px;
	left: 60px;
	height: 270px;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	svg.ico {
		fill: #fff;
		width: 17px;
		height: 17px;
	}
	a {
		display: block;
		height: 17px;
	}
	a:hover > * {
		color: #fff600;
		fill: #fff600;
	}
}
.ico.in {
	display: inline-block;
}

.ico_named.in {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	height: 118px;
}

.first__slider_item_text {
	width: 100vw;
	top: 0;
	@include fc;
}

.first__slider_text_title {
	max-width: 706px;
	color: white;
	font-family: Georgia;
	font-size: 60px;
	font-weight: 700;
}
.first__slider_item img {
	width: 100%;
}

.first__slider__item {
	img {
		width: 100%;
	}
}
.first__slider_item_text {
	margin-top: 121px;
}

.first__slider_text_title {
	margin-bottom: 84px;
}

.first__slider_text_description {
	color: white;
	font-size: 18px;
	line-height: 30px;
	max-width: 624px;
	width: 100%;
	margin-bottom: 98px;
}

.button.outline:hover,
.button {
	// width: 189px;
	height: 50px;
	border: 1px solid #fff600;
	background-color: #fff600;
	color: black;
	font-family: Montserrat;
	font-size: 15px;
	font-weight: 700;
	// line-height: 30px;
	padding: 15px 25px;
	text-transform: uppercase;
	box-shadow: 1px 16px 0px -9px rgba(199, 193, 21, 1);
}
.button:hover,
.button.outline {
	color: #fff600;
	background-color: transparent;
	box-shadow: unset;
}

.button.transparent {
	color: #fff600;
	border: none;
	box-shadow: none;
	background-color: transparent;
}
.button.transparent.unhover {
	display: none;
}
*:hover > .button.transparent.unhover {
	display: block;
}

.header__sline nav a {
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	// color: #222;
	text-decoration: none;
	padding: 7px 0;

	&:hover {
		color: #0093f4;
		border-bottom: 1px solid #fff600;
	}
}

.main_on_header {
	position: relative;
	top: -128px;
}
.section__title {
	// color: #222;
	font-family: Georgia;
	font-size: 48px;
	font-weight: 700;
}
.main__section_take_part {
	background-color: #0085f5;
	background-image: linear-gradient(to top, #0091fc 0%, #00d7ff 100%);
	padding: 40px;
	.section__title {
		color: white;
		font-size: 24px;
		line-height: 30px;
	}
	.section__description {
		color: white;
		font-family: Montserrat;
		font-size: 15px;
		font-weight: 400;
		line-height: 30px;
	}
	.section__action {
		margin-top: 30px;
	}
	.action__item {
		height: 96px;
		// max-width: 194px;
		// width: 100%;
		padding: 0 50px;
		border-right: 0.5px solid #fff;
		border-left: 0.5px solid #fff;
	}
	.action__item:first-child {
		border-left: none;
		padding-left: 0;
	}
	.action__item:last-child {
		border-right: none;
		padding-right: 0;
	}

	.action__item_title {
		color: #fff600;
		font-family: Georgia;
		font-size: 22px;
		font-weight: 700;
		padding-bottom: 22px;
	}
	.action__item_description {
		color: white;
		// font-family: Montserrat;
		font-size: 13px;
		font-weight: 700;
		line-height: 17px;
	}
}
i.nonico {
	display: inline-block;
}
.section__separator_block {
	padding-top: 65px;
	margin-bottom: 45px;
}
.separator_title {
	color: #0085f5;
	// font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
}
.separator_ico {
	width: 55px;
	height: 1px;
	background-color: #0085f5;
	vertical-align: middle;
	margin-left: 14px;
}

.main__section_programs {
	.section__title {
		max-width: 300px;
	}
	.second__slider {
		max-width: 410px;
		width: 100%;
		@include fbtw-ac;
	}
	.second__slider__item {
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		color: #999;
		cursor: pointer;
		padding-bottom: 10px;
		border-bottom: 1px solid transparent;
		&.active,
		&:hover {
			color: #0085f5;
			border-bottom: 1px solid #0085f5;
		}
	}
	.section__text {
		@include fbtw-ac;
		align-items: flex-end;
	}
	.section__action {
		margin-top: 50px;
	}
	.action__item_title {
		color: white;
		font-size: 18px;
		font-weight: 700;
		line-height: 30px;
		text-transform: uppercase;
	}
	.action__item_description {
		color: white;
		font-size: 15px;
		font-weight: 400;
		line-height: 25px;
	}
	.action__item_description {
		overflow: hidden;
		width: 100%;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		margin-bottom: 52px;
	}
	.action__item {
		// background-color: #222;
		background-image: url(../img/img_copy.png);
	}
	.action__item:hover {
		.action__item_content {
			background-image: linear-gradient(0deg, rgba(4, 105, 191, 0.56) 0%, transparent 100%);
			height: calc(100% - 54px);
			transition: 1.2s;
			.action__item_description {
				display: block;
				-webkit-line-clamp: unset;
				-webkit-box-orient: unset;
			}
			.small .action__item_description {
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
		}
	}
	.action__item_content {
		position: absolute;
		bottom: 0;
		transition: 1.2s;
		padding: 27px;
	}
}
.third__slider__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.action__x2_y2 {
	width: 570px;
	position: relative;
	margin-bottom: 30px;
	&:after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}
	.action__item {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}
.action__x1_y2 {
	width: 270px;
	position: relative;
	margin-bottom: 30px;

	&:after {
		content: "";
		display: block;
		padding-bottom: 211.1%;
	}
	.action__item {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}
.action__x1_y1_2 {
	width: 270px;
	position: relative;
	margin-bottom: 30px;

	&:after {
		content: "";
		display: block;
		padding-bottom: 211.1%;
	}
	.action__item {
		position: absolute;
		width: 100%;
		height: 47.37%;
	}
	.action__item:nth-child(2) {
		top: 52.6%;
	}
}
.selcenter {
	margin: 0 auto;
	display: block;
}
.main__section_volunteer {
	.content{
		padding-bottom: 140px;
	}
	.wrap_action{
		display: flex;
		justify-content: space-between;
	}
	.section__text {
		max-width: 527px;
		width: 100%;
		flex: 1 1 auto;
	}
	.section__action{
		max-width: 588px;
		flex: 0 0 auto;
	}
	.section__title {
		margin-bottom: 55px;
		max-width: 310px;
	}
	.section__description {
		max-width: 310px;
		// color: #222;
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 67px;
	}
	.section__description_full {
		font-size: 16px;
		line-height: 30px;
	}
	.definition {
		font-weight: 700;
	}
	.spart {
		margin-top: 50px;
		line-height: 30px;
	}
}

.main__section_donaters {
	background-color: #f8f8f8;
	.content {
	}
	.section__action {
		padding: 65px 0 95px 0;
	}
	.slick-slide img {
		display: block;
		margin: 0 auto;
	}
	.slick-arrow {
		position: absolute;
	}
	.slick-prev {
		left: -100px;
		bottom: 0;
	}
	.slick-next {
		right: -100px;
		bottom: 0;
	}
	.seventh__slider,
	.sixth__slider {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.seventh__slider__item,
	.sixth__slider__item {
		max-width: 235px;
		width: 100%;
		margin: 35px;
	}
}
.main__section_docs {
	.section__text {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	.section__title {
		max-width: 300px;
		width: 100%;
		line-height: 60px;
	}
	.section__description_full {
		max-width: 470px;
		width: 100%;
		color: #111;
		font-size: 15px;
		line-height: 25px;
	}
	.section__description {
		color: #111;
		font-family: Georgia;
		font-size: 24px;
		font-weight: 700;
		line-height: 25px;
		margin-bottom: 30px;
	}
	.eighth__slider {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 118px;
		.slick-dots {
			position: absolute;
			display: flex;
			left: 0;
			right: 0;
			margin: auto;
			max-width: 75px;
			bottom: -48px;
		}
		.slick-arrow {
			position: absolute;
		}
		.slick-prev {
			left: -100px;
		}
		.slick-next {
			right: -100px;
		}
	}
	.eighth__slider__item {
		display: flex;
		flex-direction: column;
		max-width: 200px;
		width: 100%;
		margin: 0 22px;
		.item__description {
			color: #757575;
			font-family: Montserrat;
			font-size: 14px;
			font-weight: 400;
			line-height: 19px;
			margin-top: 27px;
			text-align: center;
		}
	}
	.eighth__slider__item .item__img img {
		width: 100%;
		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15), inset 0 0 7px rgba(38, 48, 55, 0.35);
	}
}

.main__section_subscription {
	background-color: #0085f5;
	background-image: linear-gradient(to top, #0091fc 0%, #00d7ff 100%);
	.content {
		padding-bottom: 98px;
	}
	.section__title {
		color: #f8f8f8;
		margin-bottom: 55px;
	}
}
.social__subscription {
	background-color: #e8e8e8;
	padding: 36px 43px;
	justify-content: start;
}
// .social__subscription nav ul {
// }
.social__subscription_action__title {
	margin: 0 23px 0 0;
}
.btnsocial {
	display: block;
	width: 149px;
	height: 41px;
	border-radius: 3px;
	color: #fff;
	font-size: 11px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	text-transform: capitalize;
	margin: 0 3px;
	&.fb {
		background-color: #3a5a98;
	}
	&.vk {
		background-color: #48729f;
	}
	&.ok {
		background-color: #eb722f;
	}
	&.inst {
		background-image: linear-gradient(to left, #cf3789 0%, #cf3789 0%, #f49843 100%);
	}
	&.tw {
		background-color: #29aae3;
	}

	.ico {
		display: inline-block;
		fill: #fff;
		padding-right: 10px;
	}
	.ico.fb {
		width: 9px;
		height: 18px;
	}
	.ico.vk {
		width: 23px;
		height: 14px;
	}
	.ico.ok {
		width: 12px;
		height: 19px;
	}
	.ico.inst {
		width: 18px;
		height: 18px;
	}
	.ico.tw {
		width: 18px;
		height: 14px;
	}
}

.mail__subscription {
	background-color: white;
	padding: 36px 43px;
	margin: 2px 0 0 0;
	position: relative;
	.subscription__title {
		text-transform: uppercase;
		color: black;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 30px;
	}
	.subscription__action .button {
		height: 56px;
	}
	input {
		max-width: 324px;
		width: 100%;
		height: 56px;
		background-color: white;
		border: 1px solid #0085f5;
		margin-right: 16px;
		padding: 0 33px;
		font-size: 16px;
		line-height: 36px;
	}
	input::placeholder {
		color: #111;
	}
	.label__post {
		position: absolute;
		top: -133px;
		right: -50px;
		pointer-events: none;
	}
}

.main__section_docs {
	.section__text {
		margin-bottom: 51px;
	}
}
.section__count {
	display: flex;
	position: relative;
	border: 3px solid #0085f5;
	padding: 36px 43px;
	.section__count_title {
		// width: 114px;
		background-color: #fff;
		padding: 0 15px;
		position: absolute;
		top: -10px;
		color: #111;
		font-family: Georgia;
		font-size: 18px;
		font-weight: 700;
		line-height: 20px;
	}
	.ico.doc {
		margin-left: 15px;
	}
	nav {
		width: 100%;
		ul {
			display: flex;
			justify-content: space-between;
			li {
				&:last-child {
					padding: 0 0 0 40px;
					border-left: 1px solid #b7b7b7;
					a {
						color: #0085f5;
						font-weight: 700;
					}
				}
				a {
					text-decoration: none;
					font-size: 14px;
					line-height: 20px;
					// color: #222;
					font-weight: 600;
				}
			}
		}
	}
}
